<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="52978DrasticActions.AwfulForumsReader" Publisher="CN=49056560-3A92-41D0-8509-DF4FE44F646C" Version="13.7.6.0" />
  <mp:PhoneIdentity PhoneProductId="114e0b64-4d60-4912-9cfb-36fea99467df" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Awful Forums Reader</DisplayName>
    <PublisherDisplayName>Tim Miller</PublisherDisplayName>
    <Logo>Assets\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Mazui.App">
      <uap:VisualElements DisplayName="Awful" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Awful" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="Mazui">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService" EntryPoint="Mazui.VoiceCommands.MazuiVoiceCommandService">
          <uap:AppService Name="MazuiVoiceCommandService" />
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Mazui.BackgroundNotify.BackgroundNotifyStatus">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="awful">
            <uap:DisplayName>Awful Forums Reader</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Mazui.BackgroundNotify.ToastNotificationBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="deviceConnectionChange" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap3:Capability Name="remoteSystem" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>