.bbc-spoiler, .bbc-spoiler li {
    color: #222;
    background: #000
}

.bbc-spoiler.reveal li, .bbc-spoiler.reveal, .bbc-spoiler.stay {
    background-color: #fafafa;
}

.post-container.has-seen {
    background-color: #E8EFF8;
}

.post-container {
    background-color: #FFFFFF;
    border-top-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
}