<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
{{#each CSS}}
<style>
    {{{ this }}}
</style>
{{/each}}
<title>Awful - SAclopedia</title>

<body class="iphone">
    <div id="posts">
        {{#Entry.Posts}}
        <post class="no-avatar">
            <header>
                <h1 class="username">
                    {{ Username }}
                </h1>
            </header>

            <section class="postbody">
                {{{ PostHtml }}}
            </section>

            <footer>
                <span class="postdate">
                    {{ PostedDate }}
                </span>
            </footer>
        </post>
        {{/Entry.Posts}}
    </div>
</body>