/* YOSPOS (Green)*/

body {
	background-color: black;
	color: black;
}

button, input[type=button], input[type=reset], input[type=submit] {
	background-color: transparent;
	color: #57FF57;
	font-family: "consolas", "monaco", monospace !important;
}

button[type=submit]:hover, input[type=submit]:hover {
    background-clip: border-box;
    background-color: #C6D9FB;
    border-color: transparent;
	animation-name:animes;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}

a, a:hover, a:visited{
    color: #C6D9FB;
	text-decoration: underline;
}

a:hover, input[type=submit]:hover {
    border-color: transparent;
	animation-name:animes;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}

::selection {
    background-color: #29D829;
    color: rgb(255, 255, 255);
}

.altcolor2,tr.altcolor2 td,td.altcolor2 {
    background-color: black;
}

.altcolor1,tr.altcolor1 td,td.altcolor1 {
    background-color: black;
}

#thread dl.userinfo dt.author {
	padding-bottom: 4px;
	font-weight: bolder;
	color: #57FF57 !important;
	font-size: 14px !important;
	text-shadow: 0 0 0 #EEEEEE;
	font-family: "consolas", "monaco", monospace !important;
}

#mods,div.pages,#copyright,#forum th,#forum td.lastpost,#forum span.pages,#thread div.postbar,td.postdate,td.postlinks,#thread dl.userinfo dd,#thread tr.postbar td,div.threadrate,div.subscribe {
    color: #57FF57;
    font: normal normal normal 12px "consolas", "monaco", monospace;
}

body, tr, th, .postbody, p, li, blockquote, h4, .author,.breadcrumbs {
	color: #57FF57 !important;
	font: normal normal normal 15px "consolas", "monaco", monospace !important;
}

.registered, .postdate, .bbc-center {
	color: #57FF57 !important;
}

@keyframes animes {
    0%{background:#57ff57;color:#000}50%{background:#000;color:#57ff57}100%{background:#57ff57;color:#000}
}

.seen1
{
background-color: #114211!important;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAARSURBVBhXYwACQSdBMGZgAAAFhgDJcI5nugAAAABJRU5ErkJggg==')!important;
background-repeat: repeat!important;
}

.seen2
{
background-color: #114211!important;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAARSURBVBhXYwACQSdBMGZgAAAFhgDJcI5nugAAAABJRU5ErkJggg==')!important;
background-repeat: repeat!important;
}

.postCount1 {
    background-color: black;
}

.postCount2 {
    background-color: black;
}

.btn
{
background-color: rgba(87, 255, 87, 0.8);
}

blockquote
{
border-left: 5px solid rgba(87, 255, 87, 0.6);
}
