body {
    background-color: white;
}

.thread-header {
    border-bottom: 1px #CFCFCF solid;
    padding-bottom: 10px;
}

.img-responsive {
    max-width: 90%;
}

h4 {
   padding: 7px 0 4px;
}

#content {
    z-index: 1000;
}
.userquoted {
    background: #FFFEBA none repeat-x !important;
}
iframe {
    max-width: 100%;
}
.hiddenpost {
    display: none;
}
#showHiddenPostsButton {
    width: 100%;
}
@media screen and (max-width: 992px) {
    .col-md-4 #threadView .userinfo .avatar-user-info {
        display: none;
    }
    .col-md-4 #threadView {
    height: 50px;
}
.col-md-4 #threadView .av {
    float: left;
    max-height: 45px;
    max-width: 45px;
}
.col-md-4 #threadView .userinfo {
    margin-left: 55px;
}
.col-md-4 #threadView .userinfo p {
    font-size: 80%;
}
}
div.jump_top {
    display: none;
    position: fixed;
    cursor: pointer;
    color: #fff;
    font-size: .8em;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    background-color: #666;
    background-image: url(http://fi.somethingawful.com/images/sa-up.png);
    background-repeat: no-repeat;
    font: 13px Verdana, Arial, sans-serif;
}

div.jump_top.left {
    left: 0;
    background-position: right center;
    padding: 0 21px 0 8px
}

div.jump_top.right {
    right: 0;
    background-position: left center;
    padding: 0 8px 0 21px
}

#thread ul.profilelinks {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 7px;
}

#thread ul.profilelinks li {
    display: inline;
    margin-right: 10px;
}

tr.thread td.star img { cursor: pointer; }

img.timg {
    margin: 1px;
    visibility: hidden;
}

img.timg.loading {
    border: 2px red solid;
    height: 10px;
    visibility: visible;
    width: 10px;
}

img.timg.complete {
    border: 2px #2d9f09 solid;
    visibility: visible;
}

.timg_container {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    z-index: 5;
}

img.timg.complete {
    border: 2px #B05042 solid;
    box-shadow: 2px 2px 1px #ccc;
    cursor: pointer;
}

img.timg.peewee { border: 0; }

.timg_container {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    z-index: 5;
}

.timg_container .note {
    background-color: #111;
    background-position: 4px 3px;
    border: 1px #000 solid;
    margin: 6px;
    padding-left: 24px;
}

.timg_container img { z-index: 10; }

.timg_container .note {
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    background-color: blue;
    background-image: url(http://i.somethingawful.com/core/icon/fsilk/shape_move_backwards.png);
    background-position: 4px 0;
    background-repeat: no-repeat;
    border: 1px #ccc dotted;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 9px;
    left: 0;
    margin: 11px 5px;
    opacity: .65;
    padding: 2px 6px;
    padding-left: 22px;
    position: absolute;
    top: 0;
    user-select: none;
    z-index: 20;
}

.timg_container:hover .note { display: block; }

.timg_container .note.expanded { background-image: url(http://i.somethingawful.com/core/icon/fsilk/shape_move_forwards.png); }

#threadView
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}

#threadView header
{
    overflow: auto;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid green;
}

#threadView h2 {
    font-size: 150%;
}

#threadView header .av
{
   max-width: 92px;
   max-height: 92px;
   margin-right: 25px;
   float: left;
}

input[type=submit]{
 background-color: gray;
 color: white;
    margin-top: 5px;
}

.seen2 {
    background-color: rgb(188, 212, 237);
}

.seen1 {
    background-color: rgb(212, 225, 238);
}

.postCount1 {
	overflow: auto;
    background-color: rgb(244, 244, 244);
}

.postCount2 {
	overflow: auto;
    background-color: rgb(232, 232, 232);
}

img {
  max-width: 100%;
  height: auto;
}

footer {
    overflow: hidden;
}

.SAclopedia {
    background-color: transparent;
}


#threadView div.userinfo span.platinum {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://downloads.somethingawful.com/misc/gren-left.svg);
    background-size: 11px;
}

#threadView div.userinfo span.role-mod {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://downloads.somethingawful.com/misc/blue_star.svg);
    background-size: 15px;
}

#threadView div.userinfo span.role-admin {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://downloads.somethingawful.com/misc/red_star.svg);
    background-size: 15px;
}

#threadView div.userinfo span.coder {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/image-coder.png);
}

#threadView div.userinfo span.idiotking {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/ik.png);
}

#threadView div.userinfo span.diamond {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/diamond-icon.png);
}

#threadView div.userinfo span.redpill {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/redpill.png);
}

#threadView div.userinfo span.award {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/award.png);
}

#threadView div.userinfo span.impzoneik {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://i.somethingawful.com/images/permaik.png);
}

#threadView div.userinfo span.tflcspotter {
    padding-left: 20px!important;
    line-height: 16px!important;
    background-position: left center!important;
    background-repeat: no-repeat!important;
    background-image: url(http://fi.somethingawful.com/images/avatars/ylls-spotter.png);
}

#threadView div.userinfo span.lowtax {
}